# Environments
.venv/

# IDEs and editors
.idea/

# OS-specific files
.DS_Store

# ruff
.ruff_cache/

# Prometheus local data
.prometheus-data/

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# vs code
.vscode/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so